      h1,
      h2,
      span,
      th,
      td,
      p {
          color: var(--color--oscuro);
          text-align: center;
      }

      .tittle {
          padding: 20px;
          text-align: start;
      }


      .balance-cuerpo {
          display: flex;
          flex-direction: column;
          gap: 12px;
          /* espacio entre filas y columnas */
          width: 100%;
          margin: 0 auto;
          /* centra horizontalmente */
      }

      .balance-cuerpo>* {
          max-width: 100%;
          box-sizing: border-box;
      }


      .tabla-balance {
          border-collapse: collapse;
          width: auto;
          table-layout: fixed;
          /* asegura que las columnas tengan el mismo ancho */
      }

      .tabla-balance th,
      .tabla-balance td {
          padding: 8px;
          text-align: left;
          width: 100%;
          height: 40px;
          white-space: nowrap;
      }

      .activos {
          order: 1;
      }

      .totalActivos {
          order: 2;
      }

      .PasivosPatrimonio {
          order: 3;
      }

      .totactPasivoPatrimonio {
          order: 4;
      }

      .suma-total {
          order: 5;
      }