h1,
h2,
span,
th,
td,
p {
    color: var(--color--oscuro);
    text-align: center;
}

.tittle {
    padding: 20px;
    text-align: start;
}

.main_text {}


.balance-cuerpo {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* máximo 2 columnas por fila */
    gap: 12px;
    /* espacio entre filas y columnas */
    width: 70%;
    margin: 0 auto;
    /* centra horizontalmente */
    border: 1px solid black;
}




.tabla-balance {
    border-collapse: separate;
    padding: 20px;
    width: 100%;
    table-layout: fixed;
    /* asegura que las columnas tengan el mismo ancho */
}

.tabla-balance th,
.tabla-balance td {
    /* border: 1px solid #ccc; */
    padding: 8px;
    text-align: left;
    height: 40px;
    /* asegura altura uniforme en todas las filas */
}


.PasivosPatrimonio,
.activos,
.pasivo .patrimonio {
    display: inline;
    width: auto;
}