ratios-financieros,
analisis-dupont {
    display: none;
}

.formulario-ratios {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 16px;
    border-radius: 8px;
    max-width: 400px;
    background-color: #f8f9fa;
}

.formulario-ratios label {
    font-weight: bold;
    margin-top: 8px;
}

.formulario-ratios select,
.formulario-ratios input {
    padding: 6px 8px;
    border-radius: 4px;
    border: 1px solid #ced4da;
}

h2,
label {
    color: var(--color--oscuro);
}

.btn_estados {
    margin-top: 12px;
    padding: 8px 12px;
    background-color: var(--color--principal);
    display: none;
    color: var(--color--claro);
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: var(--fuente-texto);
    transition: background 0.8s ease;
    transition: transform 0.8s ease;
}

.btn_estados:hover {
    background-color: var(--color--secundario);
    transform: scale(1.15);
}

.btnContainer {
    display: flex;
    justify-content: center;
    gap: 12px;
}