:host {
    display: block;
    padding: 1.5rem;
    font-family: Arial, sans-serif;
}

h3,
p {
    color: var(--color--secundario);
    text-align: center;
    margin-bottom: 1rem;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: var(--color--claro);
    border-radius: 12px;
    overflow: hidden;
}

th,
td {
    border: 1px solid #ddd;
    padding: 4px;
    text-align: left;
    font-size: var(--fuente-texto);
    color: var(--color--oscuro);
}

th {
    background: #273f6e;
    color: var(--color--claro);
    text-align: center;
    font-weight: bold;
    font-size: var(--fuente-texto);
}

tr:nth-child(even) {
    background-color: #f7f9fc;
}

tr:hover {
    background-color: rgba(12, 34, 156, 0.08);
}

button {
    background: var(--color--principal);
    color: var(--color--claro);
    border: none;
    padding: 8px 14px;
    border-radius: 8px;
    cursor: pointer;
    font-size: var(--fuente-texto-pequenio);
    transition: all 0.3s ease-in-out;
}

button:hover {
    background: var(--color--secundario);
    transform: scale(1.05);

}